In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('E:/Python Projects/shohreh/Shohreh_GitHub_Repository/NISTARPA-E Database/Zeolite-CO2 Data/RawData.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11439 entries, 0 to 11438
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   adsorbent         11439 non-null  object
 1   adsorbates        11439 non-null  object
 2   temperature(k)    11439 non-null  int64
 3   pressure          11439 non-null  float64
 4   pressureUnits     11439 non-null  object
 5   total_adsorption  11439 non-null  float64
 6   adsorptionUnits   11424 non-null  object
 7   DOI               11424 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 715.1+ KB

In [3]:
df.head(2)

,adsorbent,adsorbates,temperature(k),pressure,pressureUnits,total_adsorption,adsorptionUnits,DOI
0,Zeolite LS-Li-KFI,Carbon Dioxide,303,0.235795,bar,0.235795,mmol/g,10.1021/La400352r
1,Zeolite LS-Li-KFI,Carbon Dioxide,303,0.516862,bar,0.516862,mmol/g,10.1021/La400352r

In [4]:
pd.DataFrame(df.nunique(), columns =['Number of unique value'])

                  Number of unique value
adsorbent                             69
adsorbates                             1
temperature(k)                        39
pressure                            9155
pressureUnits                          1
total_adsorption                    9155
adsorptionUnits                       13
DOI                                   91

In [5]:
df['adsorptionUnits'].unique()

array(['mmol/g', 'mol/m3', 'mmol/kg', 'cm3(STP)/g', 'mmol/m2', 'kg/mol',
       'mol/l', 'mg/g', 'mol/g', nan, 'molecules/unitcell', 'wt%',
       'cm3(STP)/cm3', 'mol/m2'], dtype=object)

In [6]:
df.isnull().sum()

adsorbent            0
adsorbates           0
temperature(k)       0
pressure             0
pressureUnits        0
total_adsorption     0
adsorptionUnits     15
DOI                 15
dtype: int64

In [7]:
df[df['adsorptionUnits'].isnull()]

,adsorbent,adsorbates,temperature(k),pressure,pressureUnits,total_adsorption,adsorptionUnits,DOI
6066,Zeolite 13X,Carbon Dioxide,323,0.00518,bar,0.00518,NaN,NaN
6067,Zeolite 13X,Carbon Dioxide,323,0.02871,bar,0.02871,NaN,NaN
6068,Zeolite 13X,Carbon Dioxide,323,0.05782,bar,0.05782,NaN,NaN
6069,Zeolite 13X,Carbon Dioxide,323,0.09772,bar,0.09772,NaN,NaN
6070,Zeolite 13X,Carbon Dioxide,323,0.12245,bar,0.12245,NaN,NaN
6071,Zeolite 13X,Carbon Dioxide,323,0.15378,bar,0.15378,NaN,NaN
6072,Zeolite 13X,Carbon Dioxide,323,0.22223,bar,0.22223,NaN,NaN
6073,Zeolite 13X,Carbon Dioxide,323,0.26913,bar,0.26913,NaN,NaN
6074,Zeolite 13X,Carbon Dioxide,323,0.34498,bar,0.34498,NaN,NaN
6075,Zeolite 13X,Carbon Dioxide,323,0.40247,bar,0.40247,NaN,NaN
6076,Zeolite 13X,Carbon Dioxide,323,0.49529,bar,0.49529,NaN,NaN
6077,Zeolite 13X,Carbon Dioxide,323,0.57654,bar,0.57654,NaN,NaN
6078,Zeolite 13X,Carbon Dioxide,323,0.68774,bar,0.68774,NaN,NaN
6079,Zeolite 13X,Carbon Dioxide,323,0.86583,bar,0.86583,NaN,NaN
6080,Zeolite 13X,Carbon Dioxide,323,1.00299,bar,1.00299,NaN,NaN

In [8]:
df.dropna(subset=['adsorptionUnits', 'DOI'], inplace= True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11424 entries, 0 to 11438
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   adsorbent         11424 non-null  object
 1   adsorbates        11424 non-null  object
 2   temperature(k)    11424 non-null  int64
 3   pressure          11424 non-null  float64
 4   pressureUnits     11424 non-null  object
 5   total_adsorption  11424 non-null  float64
 6   adsorptionUnits   11424 non-null  object
 7   DOI               11424 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 803.2+ KB

In [12]:
df.to_excel('Data.xlsx',index=False)